.header {
  background-color: #f1f3ff;
}

.header_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo {
  width: 100px;
  height: 34px;
  background-color: #0d28a6;
  border: 0px;
  margin: 0 auto;
}

.navbar_list {
  display: flex;
  gap: 32px;
  margin: 0 auto;
}

.navbar_list a {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar_mini {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .logo {
    margin: 0;
  }
}
